<div uk-alert>
  <button class="uk-alert-close" uk-close></button>
  <p>Hello Ruby on Rails</p>
</div>
<main class="uk-container uk-margin-top">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
    <h3 class="uk-card-title">My Profile</h3>
    <p>Hello there, my name is Hawari Muflih Munte. My nickname is Hawari.</p>
    <p>
      I like to learn new things, especially in programming. Now I'm learning Ruby.
      Somehow, Ruby's syntaxes seem so elegant and easy to read, that's why I want
      to get into Ruby more.
    </p>
  </div>
</main>
